<span class="post-meta">
  {{- if not .Date.IsZero }}
  <span><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></span>
  {{- end }}
  
  {{- $readingTime := div (float .WordCount) .Site.Params.readingSpeed -}}
  {{- $readingTime = math.Ceil $readingTime -}}
  {{- if gt $readingTime 0 }}
  <span>
    {{- if le $readingTime 1 -}}
      {{ T "min_read_one" }}
    {{- else if and (ge $readingTime 2) (le $readingTime 4) -}}
      {{ T "min_read_few" (dict "Count" $readingTime) }}
    {{- else -}}
      {{ T "min_read_many" (dict "Count" $readingTime) }}
    {{- end -}}
  </span>
  {{- end }}
</span>
